[submodule "SFML"]
	path = lib/SFML/SFML
	url = https://github.com/SFML/SFML.git
[submodule "lib/TinyFileDialogs/lib/TinyFileDialogs/tinyfiledialogs"]
	path = lib/TinyFileDialogs/lib/TinyFileDialogs/tinyfiledialogs
	url = https://github.com/native-toolkit/tinyfiledialogs.git
[submodule "lib/OCL-VideoProcessingLibrary/OCL-VideoProcessingLibrary"]
	path = lib/OCL-VideoProcessingLibrary/OCL-VideoProcessingLibrary
	url = https://github.com/OutOfContext-Developers/OCL-VideoProcessingLibrary.git
